@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
h2 {
  text-align: center;
}
body {
  margin: 0;
  background-color: #0b1e26;
}

.glow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.glow {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300vw;
  height: 300vh;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #00ffff,
    transparent,
    #00ffff
  );
  opacity: 0;
  animation: glow 10s ease-in-out infinite;
}

@keyframes glow {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  50% {
    opacity: 0.2;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.social-glow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.social-glow {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300vw;
  height: 300vh;

  background: linear-gradient(to bottom, #00ffff, transparent);
  opacity: 0;
  animation: social-glow-animation 10s ease-in-out infinite;
}

@keyframes social-glow-animation {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  50% {
    opacity: 0.2;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
  }
}

* {
  font-family: 'Source Code Pro', monospace;
}
.soon {
  text-align: center;
  color: white;
}
.title {
  text-align: center;
  padding-right: 70px;
}
.nav-head {
  display: flex;
  justify-content: space-between;
}
.nav-head-cv {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.msalat-svg img {
  width: auto;
  max-height: 100px;
}
.roadmap {
  display: flex;
  justify-content: center;
}
.roadmap h1 {
  text-align: center;
  font-size: 2.2rem;
}
.gate-name {
  text-align: center;
}
.roadmap img {
  width: 70%;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  position: relative;
  right: 0;
  display: block;
  width: 100%;
  height: auto;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */

  border: 1px solid black; /* Remove borders */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 300px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  color: white;
  background-color: black; /* Add a dark-grey background on hover */
}
.home-button {
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-bottom: 300px;
  margin: 10px;
  background-color: white;
  transition: 0.4s;
}
.home-button:hover {
  cursor: pointer;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
}
.landing-home-button {
  font-size: 22px;
  border: 3px double #000000;
}
.link {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 589px) {
  .nav-head {
    flex-direction: column;
    justify-content: center;
  }
  .msalat-svg {
    text-align: center;
  }
  .title {
    padding: 0;
  }
}
.msalati {
  animation: float 4s ease-in-out infinite;
}
.form {
  direction: rtl;
  text-align: center;
}
.form * {
  font-family: 'Cairo', sans-serif;
}
.home-div {
  padding-top: 20px;
  text-align: center;
}
.socials img {
  width: 64px;
  height: 64px;
  padding: 10px;
}
.socials {
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-8px);
  }
  100% {
    transform: translatey(0px);
  }
}
.cv-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.cv-container img {
  width: 100%;
  display: block;
  margin: 10%;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 21px 21px 21px 21px;
  -webkit-border-radius: 21px 21px 21px 21px;
  -moz-border-radius: 21px 21px 21px 21px;
  border: 4px solid #2b4ba0;
  padding: 3px;
}
.nav-cv {
  display: flex;
  justify-content: center;
}
.my-resume {
  width: 250px;
}
.itsmsalati-banner-wrapper {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 54px;
}
.itsmsalati-banner-logo {
  height: 34%;
  width: 100%;
  margin: 0 auto;

  /* Adjust the size for larger screens */
  @media (min-width: 768px) {
    height: 60%;
    width: 80%;
  }
}
@media only screen and (max-width: 700px) {
  .cv-container img {
    height: 100%;
    width: 100%;
    border: none;
    margin: 0 !important;
  }
}

/* new recolor branch */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hamburger {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-links {
  display: none;
  list-style-type: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }

  .nav-links li {
    margin-bottom: 0.5rem;
  }
}
.hr-blue {
  width: 113.53px;
  height: 3px;
  background-color: #0bb1b1; /* Change this to any color you want */
  border: none;
  margin: 0 auto;
  border-radius: 300px;
}

.unstoppable-force-wrapper {
  margin-top: 54px;
  position: relative;
}
.headline-wrapper {
  text-align: center;
}
.headline-wrapper #unstoppable {
  color: white;
  font-size: 40px;
}
.headline-wrapper #force {
  color: #3df2f2;
  font-size: 48px;
  margin-top: -50px;
}

.planet-linear {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 226px;
  height: 226px;
  z-index: -1;
}
.pc-only-message {
  display: none;
  font-size: 10px;
  margin: 40px 300px;
  text-align: center;

  @media (min-width: 1200px) {
    display: block;
    color: white;
  }
}

.secondary-wrapper {
  color: white;
  text-align: center;
  font-weight: 400;
  margin: 0 14px;
  font-size: 14px;
}
.star-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #ffffff52;
  border-radius: 50%;
  animation: glowstar 3s infinite;
}

@keyframes glowstar {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.contact-button-wrapper {
  text-align: center;
  margin: 38px 0;
}
.contact-button {
  width: 188px;
  height: 37px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border: 2px solid #00fff0;
  border-radius: 8px;
  padding: 6px 34px;
}
.page-title {
  font-size: 30px;
  font-weight: bolder;
}
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  animation: slideIn 1s forwards;
  opacity: 0;
}

.social-icon {
  margin: 10px 0;
}
.social-icon {
  border-radius: 50%; /* Ensures the box-shadow is applied to a circle */
  animation: glow-social-item 1s infinite alternate; /* Apply the glow animation */
}

@keyframes glow-social-item {
  0% {
    box-shadow: 0 0 10px cyan;
  }
  100% {
    box-shadow: 0 0 20px cyan;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.side-menu {
  position: fixed;
  top: 0;
  right: -80%; /* Initially hidden off-screen */
  width: 80%;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #00978d,
    #007679,
    #005761,
    #093944,
    #0b1e26
  );
  transition: right 0.3s;
  z-index: 9999;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.side-menu.open {
  right: 0; /* Slide in from the right */
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 20%;
}

.side-menu li {
  font-size: 34px;
  margin-top: 50px;
  margin-left: 50px;
  border-bottom: 2px solid #0bb1b1;
  cursor: pointer; /* Add cursor pointer for better UX */
}

.side-menu-title {
  font-size: 32px;
  font-weight: bolder;
  margin-top: 30px;
  margin-left: 50px;
}
.close-menu {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  margin-top: 30px;
  cursor: pointer;
}
.resume-page {
  font-size: 20px;
  text-align: center;
  color: white;
  margin: 40% 10%;
}
.roadmap-title {
  text-align: center;
  font-size: 28px;
  color: #3df2f2;
}
.roadmap-title h6{
  color: white;
  margin-top: -20px;
  margin-bottom: 60px;
}

.line {
  position: relative;
  width: 4px;
  height: 200px;
  background-color: transparent;
  overflow: hidden;
}

.line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #00ffff, #00b3b3, #008080);
  box-shadow: 0 0 10px 2px #00ffff, 0 0 20px 4px #00ffff, 0 0 30px 6px #00ffff;
  transform: translateY(-100%);
  animation: lineAnimation 3s normal infinite;
}

@keyframes lineAnimation {
  0% {
    transform: translateY(-100%);
  }
  50%{
    
    transform: translateY(90%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.webgate-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frontend,
.backend {
  font-size: 30px;
  color: white;
  border: 1chpx solid cyan;
  border-radius: 10px;
  box-shadow: 0px 0px 19px 9px rgba(0,179,179,0.9);
  padding: 30px;
}
.frontend::before,
.backend::before {
  content: '';
  position: absolute;
  z-index: -1;
}
